<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<![endif]-->
<title>Nanobox - responsive HTML5 template</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" href="css/plugins.min.css">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<script src="js/pace.min.js" data-pace-options='{ "ajax": false }'></script>
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
</head>
<body class="body-bg-image" data-spy="scroll" data-target=".primary-nav">
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top transparentx" id="topscrollspy" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Nanobox</span>
    </div>
    <div class="navbar-collapse collapse primary-nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="#slider">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- End Fixed navbar -->
<!-- Multi images -->
<section id="slider">
  <div id="carousel" class="carousel slide carousel-fade">
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel" data-slide-to="0"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(img/slider/0.jpg);">
        <div class="vcenterparent">
          <div class="vcenter">
            <h1>Minimal</h1>
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url(img/slider/1.jpg);">
        <div class="vcenterparent">
          <div class="vcenter">
            <h1>Flexible</h1>
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url(img/slider/2.jpg);">
        <div class="vcenterparent">
          <div class="vcenter">
            <h1>Powerfull</h1>
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="control-box">
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</section><!-- End Multi images -->
<!-- About -->
<section id="about">
  <div class="container-fluid vcenterparent">
    <div class="row vcenter">
      <div class="about-content">
        <h1 class="section-header">About</h1>
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hcenter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac diam placerat, accumsan metus quis, venenatis neque. Nunc cursus fringilla eros. Etiam ante nunc, dignissim non interdum vitae, blandit quis magna.</div>
      </div>
    </div>
  </div>
</section><!-- End About -->
<!-- Portfolio -->
<section id="portfolio">
  <!-- Projects -->
  <div class="container-fluid">
    <div class="row">
      <h1 class="section-header">Portfolio</h1>
    </div>
    <div class="row">
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="https://www.youtube.com/watch?v=RD6IcFz_yOQ">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/0.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">YouTube video</h2>
            <p>short text 0</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="http://vimeo.com/96535666">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/1.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Vimeo video</h2>
            <p>short text 1</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/2.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/2.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 2</h2>
            <p>short text 2</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/3.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/3.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 3</h2>
            <p>short text 3</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/4.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/4.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 4</h2>
            <p>short text 4</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/5.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/5.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 5</h2>
            <p>short text 5</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/6.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/6.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 6</h2>
            <p>short text 6</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/7.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/7.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 7</h2>
            <p>short text 7</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/8.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/8.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 8</h2>
            <p>short text 8</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/9.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/9.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 9</h2>
            <p>short text 9</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/10.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/10.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 10</h2>
            <p>short text 10</p>
          </figcaption>
        </figure>
      </a>
      <a class="col-md-3 col-sm-4 col-xs-12 swipebox" href="img/projects/11.jpg">
        <figure class="ratio-16-9 effect" style="background-image: url(img/projects/11.jpg);">
          <figcaption class="ratio-16-9-content">
            <h2 class="h3">Image 11</h2>
            <p>short text 11</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div><!-- End Projects -->
</section><!-- End Portfolio -->
<!-- Contact -->
<section id="contact">
  <div class="container-fluid vcenterparent">
    <div class="row vcenter">
      <div class="container contact-content">
        <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 hcenter">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="section-header">Contact us</h1>
            </div>
          </div>
          <div class="row">
            <form id="contact-form" novalidate="novalidate" method="post" action="/contact.php">
              <div class="col-sm-6">
                <div class="form-group">
                  <input id="name" class="form-control" type="text" placeholder="Name" name="name" required />
                  <input class="form-control" id="cemail" placeholder="Email" type="email" name="email" required />
                  <input class="form-control" type="text" id="phone" name="phone" placeholder="Phone" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <textarea class="form-control message-box" rows="3" placeholder="Message" id="message" name="message" required></textarea>
                </div>
              </div>
              <div class="col-xs-12 text-center block-submit-button">
                <button class="btn btn-primary submit-btn" value="Submit" type="submit">Submit</button>
              </div>
            </form>
          </div>
          <div id="alert" class="row" style="display: none;">
            <div class="col-sm-6 col-xs-12 col-sm-offset-3">
              <div id="form-alert" class="alert" role="alert"></div>
            </div>
          </div>
          <div class="row contacts">
            <div class="col-sm-4 col-xs-12 text-center">
              <span class="glyphicon glyphicon-map-marker"></span>
              <p>121 King Street, Melbourne<br />
              Victoria 3000 Australia</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
              <span class="glyphicon glyphicon-earphone"></span>
              <p><strong>Phone:</strong> (555) 1234 5678<br />
              <strong>Phone:</strong> (555) 1234 5678</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
              <span class="glyphicon glyphicon-envelope"></span>
              <p><strong>Email:</strong> google@gmail.com<br />
              <strong>Skype:</strong> echo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Contact -->
<!-- Page loading progress.... -->
<script>var first = document.body.childNodes[0];
var before = document.createElement("div");
before.setAttribute("id",'cover');
before.setAttribute("style",'background-color:#525252;position:fixed;left:0;top:0;right:0;bottom:0;z-index:1999;display:block;');
document.body.insertBefore(before, first);
Pace.on("hide", function () {
    $("#cover").fadeOut(700);
});</script><!-- End Page loading progress.... -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.min.js"></script>
<script src="js/template.min.js"></script>
</body>
</html>
